<div class="additional-links">
    <a href="~language_prefix~/~route~/add" title="*Add new DB*"><i class="fa fa-plus"></i></a>
</div>
<p>*Sometimes it's needed to restart a page several times for see a changes or to see that deleted item has gone from list.*</p>
<table cellpadding="0" cellspacing="0" class="admin-overview">
<thead>
    <tr>
        <th width="20%"></th>
        <th width="20%">*Type*</th>
        <th width="20%">*Host*</th>
        <th width="20%">*db_name*</th>
        <th width="20%">*user*</th>
    </tr>
</thead>
<tbody>
    ~items~
</tbody>
</table>